<h2><strong>Top Albums</strong></h2>
  <div class="plans">
    <div class="plan" *ngFor="let item of top">
      <h2 class="plan-title"><img src="{{item.topAlbumImage}}" style="width: 100%;"></h2>
      <ul class="plan-features">
        <li><strong><a href="#">{{item.albumtitle | truncate : 25 : '....' }}</a></strong></li>
        <li>{{item.artisttext}}</li>
      </ul>
    </div>
    </div>

<h2><strong>Top Singles</strong></h2>
  <div class="plans">
    <div class="plan" *ngFor="let item of single">
      <ul class="plan-features">
        <li><strong><a href="#">{{item.songtitle | truncate : 25 : '....' }}</a></strong></li>
        <li>{{item.artisttext | truncate : 20 : '....'}}</li>
      </ul>
    </div>
    </div>



<h2>Featured Artists & Composers</h2>
<div class="plans">
    <div class="plan" *ngFor="let item of featured">
      <h2 class="plan-title"><img src="{{item.artistImage}}" style="width: 100% !important;"></h2>
      <ul class="plan-features">
        <li><strong><a href="#">{{item.artistName | truncate : 25 : '....' }}</a></strong></li>
      </ul>
    </div>
    </div>

  